/* 와이드 pc  */

#logo_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#logo_box img {
  width: 100%;
}

#content {
  padding: 0 3.13rem;
  overflow: hidden;
  background: var(--back-color);
  color: var(--text-color);
}

#content h3 {
  color: var(--point-color);
  margin-top: 9.38rem;
  font-size: 3.75rem;
  font-weight: 400;
  font-style: italic;
}

#content .btn_box {
  text-align: center;
  margin-top: 5rem;
}

#content .btn {
  color: var(--text-color-light);
  display: inline-block;
  position: relative;
  font-family: var(--sub-font);
  font-size: 1.13rem;
  letter-spacing: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
}

#content .btn::after {
  content: '';
  display: inline-block;
  width: 250px;
  height: 2px;
  transition: all .5s;
  position: absolute;
  left: 25px;
  bottom: 0;
  background: var(--text-color-light);
  box-shadow: 0 0 16px 3px;
}

#content .btn_box:hover .btn::after {
  box-shadow: 0 0 16px 3px var(--ligth-color);
  transform: rotate(-2deg);
}

/*========== story ==========*/

#story p {
  padding: 2.5rem 3.13rem;
  font-family: var(--sub-font);
  font-size: 1.5rem;
  line-height: 2em;
  text-align: justify;
}

#story .story_img ul {
  display: flex;
  gap: 3vw;
  justify-content: center;
}

#story .story_img li {
  width: 33.33%;
  max-width: 460px;
}

#story .story_img img {
  width: 100%;
  transition: all .5s;
}

#story .story_img ul:hover img {
  filter: grayscale(1);
}

#story .story_img li:hover img {
  filter: grayscale(0);
  transform: rotate(-1deg);
}

/*========== shoes_box ==========*/
.shoes_box {
  height: 55vw;
  overflow: hidden;
  position: relative;
  margin-top: 5rem;
}

.shoes_box img {
  width: 80%;
  position: absolute;
  top: -30%;
  left: 10%;
}


/*========== character ==========*/

#character h3 {
  margin-top: 0;
}

#character .character_img ul {
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;
  transition: all .5s;
  margin-top: 5rem;
}

#character .character_img li {
  width: 25%;
  max-width: 350px;
  position: relative;
  transition: all .5s;
}

#character .character_img img {
  width: 100%;
  position: relative;
}

#character .character_img dl dt {
  color: var(--text-color-light);
  font-size: 2vw;
  line-height: 2em;
  text-align: center;
}

#character .character_img dl dd {
  color: var(--text-color-light);
  font-family: var(--sub-font);
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 40%;
  opacity: 0;
  transition: all .3s;
}

#character .character_img ul:hover li {
  opacity: .3;
}

#character .character_img ul li:hover {
  opacity: 1;
}

#character .character_img li:hover dd {
  opacity: 1;
}


/*========== trailer ==========*/

#trailer .main_trailer {
  display: flex;
  margin-top: 5rem;
}

#trailer .main_trailer a {
  width: 60%;
}

#trailer img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

#trailer dl {
  padding: 3.13rem;
  width: 40%;
}

#trailer dt {
  color: var(--text-color-light);
  font-size: 2.5rem;
  margin-bottom: 70px;
}

#trailer dd,
#trailer p {
  font-family: var(--sub-font);
  font-size: 1.5rem;
}

#trailer p {
  padding: 3.13rem;
  text-align: center;
}

#trailer .sub_trailer ul {
  display: flex;
  justify-content: space-around;
  gap: 3vw;
}

#trailer .sub_trailer li {
  width: 25%;
  max-width: 270px;
}

#trailer .main_trailer a,
.sub_trailer a {
  transition: transform .5s;
}

#trailer .main_trailer a:hover,
.sub_trailer a:hover {
  transform: scale(.95);
}

/*========== gallery ==========*/

#gallery {
  margin-bottom: 9.38rem;
}

#gallery ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas:
    "a a a"
    "b c c"
    "d d g"
    "e f g";
  margin-top: 5rem;
  padding: 0 3.13rem;
}

#gallery ul li:nth-of-type(1) {
  grid-area: a;
}

#gallery ul li:nth-of-type(2) {
  grid-area: b;
}

#gallery ul li:nth-of-type(3) {
  grid-area: c;
}

#gallery ul li:nth-of-type(4) {
  grid-area: d;
}

#gallery ul li:nth-of-type(5) {
  grid-area: e;
}

#gallery ul li:nth-of-type(6) {
  grid-area: f;
}

#gallery ul li:nth-of-type(7) {
  grid-area: g;
}

#gallery ul img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter .5s;
}

#gallery ul li {
  position: relative;
}

#gallery ul li:hover img {
  filter: brightness(1.3);
}



/* 일반 pc */
@media screen and (max-width:1280px) {

#content {
  width: 96%;
  padding: 0 2%;
}

}


/* 테블릿 */
@media screen and (max-width:1024px) {

#logo_box {
  display: none;
}

#content{ width:auto; margin:0; }

#content h3 {
  margin-top: 6rem;
  font-size: 3rem;
}

#content .btn_box {
  margin-top: 4rem;
}

.shoes_box {
  margin-top: 1rem;
}



/*========== story ==========*/

#story .story_img li:nth-of-type(1) {display: none;}
#story .story_img li:nth-of-type(2) {display: none;}
  
#story h3 {
  margin-bottom: 3rem;
}
#story p {
  font-size: 1.1rem;
  float: right;
  width: 50%;
  padding: 1.5rem;
  box-sizing: border-box;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 240px;
  text-align: initial;
}

#story .story_img li {
  width: auto;
  max-width: none;
}

#story .btn_box {
  clear: both;
}

/*========== character ==========*/

#character .character_img ul {
  flex-wrap: wrap;
  gap: 0;
  row-gap: 1rem;
  margin-top: 4rem;
}

#character .character_img img {
  width: 50%;
}

#character .character_img li {
  display: flex;
  width: 50%;
  max-width: none;
}

#character .character_img dl {
  padding: 1rem;
}

#character .character_img dl dt {
  font-size: 1.8rem;
  text-align: initial;
  line-height: 1.5em;
  margin-bottom: 1rem;
}

#character .character_img dl dd {
  color: var(--text-color);
  opacity: 1;
  font-size: 1.1rem;
  text-align: initial;
  position: static;
}


/*========== trailer ==========*/

#trailer .main_trailer a {
  width: 50%;
  min-width: auto;
}

#trailer .main_trailer {
  margin-top: 4rem;
}

#trailer dl {
  padding: 1rem;
  width: 50%;
  box-sizing: border-box;
}

#trailer dt {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

#trailer dd {
  font-size: 1.1rem;
}

#trailer img {
  height: 100%;
}

#trailer p {
  float: left;
  width: 40%;
  padding: 1rem;
  text-align: initial;
  font-size: 1.1rem;
  box-sizing: border-box;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 180px;
}

#trailer .sub_trailer {
  width: 60%;
  overflow: hidden;
}

#trailer .sub_trailer li {
  width: 50%;
  max-width: auto;
}


#trailer .sub_trailer li:nth-of-type(3) {display: none;}
#trailer .sub_trailer li:nth-of-type(4) {display: none;}



/*========== gallery ==========*/

#gallery {
  margin-bottom: 6rem;
}

#gallery ul {
  gap: 1rem;
  grid-template-areas:
    "a c c"
    "d c c"
    "b e f";
  margin-top: 4rem;
  padding: 0 1rem;
}

#gallery ul li:nth-of-type(1) {
  display: none;
}

#gallery ul li:nth-of-type(2) {
  grid-area: b;
}

#gallery ul li:nth-of-type(3) {
  grid-area: a;
}

#gallery ul li:nth-of-type(4) {
  grid-area: d;
}

#gallery ul li:nth-of-type(5) {
  grid-area: f;
}

#gallery ul li:nth-of-type(6) {
  grid-area: e;
}

#gallery ul li:nth-of-type(7) {
  grid-area: c;
}


}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
  #content .btn {
    letter-spacing: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    font-size: 1rem;
  }

  #content .btn::after {
    width: 166px;
    left: 0;
    box-shadow: 0 0 10px 0;
  }
}

/* 모바일 */
@media screen and (max-width:640px) {

#content h3 {
  font-size: 2.3rem;
  margin-top: 3rem;
}

#content .btn_box {
  margin-top: 1.5rem;
}


/*========== story ==========*/

#story h3 {
  margin-bottom: 0;
}

#story p {
  font-size: 1rem;
  width: auto;
  text-align: justify;
  float: none;
  max-height: 220px
}

#story .story_img li {
  width: 100%;
  max-width: 460px;
}

#story .story_img img {
  height: 30vw;
  object-fit: cover;
}

/*========== character ==========*/

#character .character_img dl dt {
  font-size: 1.5rem;
  text-align: center;
}

#character .character_img dl dd {
  font-size: 1rem;
  text-align: center;
}

#character .character_img ul {
  margin-top: 2rem;
  row-gap: 0;
}

#character .character_img li {
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 3vw;
}


#character .character_img img {
  width: 100%;
  height: 50vw;
  object-fit: cover;
  object-position: top;
  max-height: 245px;
}


/*========== trailer ==========*/

#trailer .main_trailer {
  flex-direction: column;
  margin-top: 4rem;
}

#trailer .main_trailer a {
  width: auto;
}

#trailer dl {
  width: auto;
}

#trailer dt {
  font-size: 1.5rem;
}

#trailer dd {
  font-size: 1rem;
}

#trailer p {
  display: none;
}

#trailer .sub_trailer {
  display: none;
}

/*========== trailer ==========*/

#gallery {
  margin-bottom: 3rem;
}

#gallery ul {
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a b"
    "c d";
  margin-top: 2rem;
  padding: 0 1rem;
}

#gallery ul img {
  position: absolute;
}

#gallery ul li::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}

#gallery ul li:nth-of-type(1) {
  display: none;
}

#gallery ul li:nth-of-type(2) {
  grid-area: a;
}

#gallery ul li:nth-of-type(3) {
  display: none;
}

#gallery ul li:nth-of-type(4) {
  grid-area: b;
}

#gallery ul li:nth-of-type(5) {
  display: none;
}

#gallery ul li:nth-of-type(6) {
  grid-area: d;
}

#gallery ul li:nth-of-type(7) {
  grid-area: c;
}

}
