/* 화면전환에 따른 이슈로 일반pc(1280), 모바일(640)에서 css변환 => 태블릿(1024) js전환 */
/* 와이드 pc  */

#imgBG {
  display: block;
  left: 50%;
  right: inherit;
  transform: translateX(-50%);
}

#content h2 {
  position: absolute;
  text-align: center;
  top: -60vh;
  left: 0;
  width: 100%;
  color: var(--point-color);
  font-size: 10vh;
  text-shadow: 6px 4px #000;
}

#content {
  position: relative;
  padding: 0;
  background: var(--back-color);
  color: var(--text-color);
}


#content h3 {
  color: var(--point-color);
  margin-top: 9.38rem;
  margin-bottom: 3.13rem;
  font-size: 3.75rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}


/*========================*/



#story_1, #story_2, #story_3, #story_4, #story_5 {
  overflow: hidden;
  height: 100vmax; 
  background-color: var(--back-color);
  display: flex;
  flex-direction: column;
}

#story_1 {background-color: rgb(61, 35, 10);}
#story_2 {background-color: rgb(74, 88, 34)}
#story_3 {background-color: rgb(97, 60, 9)}
#story_4 {background-color:rgb(37, 57, 92)}
#story_5 {background-color: rgb(36, 44, 30)}


.story_box {
  display: flex;
  align-items: center;
  text-align: justify;
  justify-content: flex-end
}


#story_2 .story_box, #story_4 .story_box {
  flex-direction: row-reverse;
}


#story_1 .img_box.showImg, #story_3 .img_box.showImg, #story_5 .img_box.showImg {
  animation: slideInRight .5s ease-in-out forwards;
}

#story_2 .img_box.showImg, #story_4 .img_box.showImg {
  animation: slideInLeft .5s ease-in-out forwards;
}


.story_box .text_box {
  flex: 2 1 0;
  font-family: var(--sub-font);
  font-size: 2.3vh;
}

.story_box .text_box p {
  line-height: 2em;
  padding: 2.5rem 3.13rem;
}

.story_box .text_box strong {
  font-weight: 400;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 0% auto;
  transition: background-size .5s;
  background-image: linear-gradient(to top, #bcd539cf 80%, transparent 0);
}

.story_box .text_box strong.highlight {
  background-size: 100% auto;
}


.story_box .img_box {
  flex: 1 1 0;
  max-width: 600px;
  visibility: hidden;
}

.story_box .img_box img {
  width: 100%;
}


/* 일반 pc */ 
@media screen and (max-width:1280px) {
  
#content {
  width: auto;
  padding: 0;
}

/*========================*/

.story_box {
  align-items: initial;
  text-align: initial
}

#story_2 .story_box, #story_4 .story_box {
  flex-direction: row;
}

#story_1 .story_box, #story_3 .story_box, #story_5 .story_box {
  flex-direction: row-reverse;
}


.story_box .text_box {
  flex: 1.5 1 0;
  font-size: 2vw;
}

.story_box .text_box p {
  padding: 1rem;
}

.story_box .img_box {
  visibility: visible;
}

  
}

/* 테블릿 */
@media screen and (max-width:1024px) {
  
#content{ 
  width:auto; 
  margin:0; }


#content h3 {
  margin-top: 5.71rem;
  margin-bottom: 1rem;
  font-size: 3rem;
}

/*========================*/


}



/* 소형 테블릿 */
@media screen and (max-width:768px) {
  
}

/* 모바일 */
@media screen and (max-width:640px) {

#content h3 {
  font-size: 2.3rem;
  margin-top: 0;
  margin-bottom: 0;
}

/*========================*/

#story_1, #story_2, #story_3, #story_4, #story_5 {
  justify-content: center;
  height: auto;
  padding: 3rem 1rem;
}

#story_1 .story_box, #story_2 .story_box, #story_3 .story_box, #story_4 .story_box, #story_5 .story_box {
  flex-direction: column;
}

.story_box {
  height: auto;
  text-align: justify;
}

.story_box .text_box {
  font-size: 1rem;
}

.story_box .img_box {
  margin: 0 auto;
  min-height: 200px;
  overflow: hidden;
}
}

