/* 와이드 pc  */

#imgBG {
  display: block;
  left: 50%;
  right: inherit;
  transform: translateX(-50%);
}

#content h2 {
  position: absolute;
  text-align: center;
  top: -60vh;
  left: 0;
  width: 100%;
  color: var(--point-color);
  font-size: 10vh;
  text-shadow: 6px 4px #000;
}

#content {
  position: relative;
  background: var(--back-color);
  color: var(--text-color);
}

.intro {
  padding: 9.38rem;
  font-size: var(--text-size);
  color: var(--point-color);
  text-align: center;
  font-style: italic;
  letter-spacing: 3px;
}

.intro p span {
  display: block;
  margin-top: 3vw;
}

/*========================*/

.Main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
  padding: 10vw;
}

.Main h3 {
  color: var(--back-color);
  font-size: 5vw;
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
}

.Main_img:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 3/4;
  justify-self: flex-end;
  align-self: flex-end;
  width: 70%;
  overflow: hidden;
}


.Main_img:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: flex-end;
  width: 70%;
  overflow: hidden;
}

.Main_img:nth-of-type(3) {
  grid-column: 3/4;
  grid-row: 1/4;
  overflow: hidden;
}

.Main_img img {
  width: 100%;
}




.Sub {
  /* height: 100vh; */
  /* min-height: 1000px; */
  display: grid;
  grid-template-rows: minmax(auto, 12vw) auto auto;
  grid-template-columns: minmax(auto, 15vw) minmax(auto, 8vw) auto;
  padding: 6.25rem;
}

.Sub .Sub_img:nth-of-type(1) {
  max-width: 200px;
  grid-column: 3/4;
  grid-row: 1/2;
  overflow: hidden;
  justify-self: right;
}

.Sub .Sub_img:nth-of-type(1) img {
  height: 100%;
}

.Sub .Sub_img:nth-of-type(2) {
  max-width: 250px;
  grid-column: 1/2;
  grid-row: 2/3;
  overflow: hidden;
}

.Sub .Sub_img:nth-of-type(2) img {
  width: 100%;
}

.Sub .Sub_text {
  grid-column: 3/4;
  grid-row: 2/4;
}

.Sub .Sub_text>span {
  display: block;
  color: var(--text-color-light);
  font-size: var(--sub-title-text-size);
  margin-bottom: 5rem;
}

.Sub .Sub_text p {
  font-family: var(--sub-font );
  font-size: var(--text-size);
  line-height: 1.8em;
}

.Sub .Sub_text p span {
  color: var(--text-color-light);
}



/* 일반 pc */
@media screen and (max-width:1280px) {
  
#content {
  width: auto;
}
}

/* 테블릿 */
@media screen and (max-width:1024px) {
#content{ 
  width:auto; 
  margin:0; 
  /* padding-top: 5.71rem; */
}

.intro {
  padding: 5.71rem;
}


.Main {
}

.Main h3 {
  grid-column: 1/3;
  grid-row: 2/3;
}

.Main_img:nth-of-type(1) {
  grid-column: 2/4;
  grid-row: 3/4;
}


.Main_img:nth-of-type(2) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.Main_img:nth-of-type(3) {
  display: none;
}

.Main_img img {
  width: 100%;
}


.Sub {
  /* min-height: 800px; */
  padding: calc(6.25rem / 2);
  grid-template-columns: 1.5fr .4fr .4fr;
  grid-template-rows: .1fr 1fr .5fr;
  
}

.Sub .Sub_img:nth-of-type(1) {
  grid-column: 3/4;
  grid-row: 3/4;
  justify-self: unset;
}

.Sub .Sub_img:nth-of-type(1) img {
  height: auto;
  width: 100%;
}

.Sub .Sub_img:nth-of-type(2) {
  width: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: flex-end;
}


.Sub .Sub_text {
  padding: 1rem;
  grid-column: 1/2;
  grid-row: 1/4;
}

.Sub .Sub_text>span {
  margin-bottom: calc(5rem/2);
}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {

}

/* 모바일 */
@media screen and (max-width:640px) {

.intro {
  padding: 2rem;
  font-size: calc(var(--text-size)/1.2);
}


.Main {
  grid-template-columns: none;
}

.Main h3 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.Main_img:nth-of-type(1) {
  display: none;
}


.Main_img:nth-of-type(2) {
  display: none;
}

.Main_img:nth-of-type(3) {
  width: 45%;
  display: block;
  grid-column: 1/2;
  grid-row: 2/4;
  justify-self: center;
}

.Main_img img {
  width: 100%;
}

.Sub {
  padding: 1rem;
  grid-template-rows: 1fr;
  grid-template-columns: none;
}

.Sub .Sub_img:nth-of-type(1) {
  display: none;
}

.Sub .Sub_img:nth-of-type(2) {
  display: none;
}


.Sub .Sub_text {
  grid-column: 1/1;
  grid-row: 1/1;
}
  
}