/* 와이드 pc  */

#imgBG {
  display: block;
  left: 50%;
  right: inherit;
  transform: translateX(-50%);
}

#content h2 {
  position: absolute;
  text-align: center;
  top: -60vh;
  left: 0;
  width: 100%;
  color: var(--point-color);
  font-size: 10vh;
  text-shadow: 6px 4px #000;
}

#content {
  position: relative;
  padding: 0;
  background: var(--back-color);
  color: var(--text-color);
}

/*========================*/

/*==========Ella==========*/


.Main {
  padding-top: 9.38rem;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.Main h3 {
  flex: 1 1 0;
  text-align: center;
  font-size: 4.2vw;
  color: var(--point-color);
}

.Main_img {
  max-height: 1000px;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Main_img img {
  width: 50%;
}

.Sub {
  height: 1000px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.Sub p {
  flex: 1 1 0;
  text-align: center;
  font-family: var(--sub-font);
  font-size: 1.5vw;
}

.Sub_imgs {
  flex: 1 1 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Sub_imgs img {
  width: 100%;
}

/* 일반 pc */
@media screen and (max-width:1280px) {
  
#content {
  width: auto;
  padding: 0;
}
}

/* 테블릿 */
@media screen and (max-width:1024px) {
#content{ 
  width:auto; 
  margin:0; 
}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {

}

/* 모바일 */
@media screen and (max-width:640px) {
  
}