/* 와이드 pc  */

#imgBG {
  display: block;
  left: 50%;
  right: inherit;
  transform: translateX(-50%);
}

#content h2 {
  position: absolute;
  text-align: center;
  top: -60vh;
  left: 0;
  width: 100%;
  color: var(--point-color);
  font-size: 10vh;
  text-shadow: 6px 4px #000;
}

#content {
  position: relative;
  padding: 0 3.13rem;
  background: var(--back-color);
  color: var(--text-color);
}

/*========================*/


.Main {
  padding-top: 9.38rem;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.Main h3 {
  flex: 1 1 0;
  text-align: center;
  font-size: 4.2vw;
  color: var(--point-color);
}

.Main_img {
  max-height: 1000px;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Main_img img {
  width: 50%;
}

.Sub {
  min-height: 1000px;
  display: grid;
  grid-template-rows: minmax(auto, 12vw) auto auto;
  grid-template-columns: minmax(auto, 15vw) minmax(auto, 12vw) auto;
  padding: 6.25rem;
}

.Sub .Sub_img:nth-of-type(1) {
  max-width: 200px;
  grid-column: 3/4;
  grid-row: 1/2;
  overflow: hidden;
  justify-self: right;
}

.Sub .Sub_img:nth-of-type(1) img {
  height: 100%;
}

.Sub .Sub_img:nth-of-type(2) {
  max-width: 250px;
  grid-column: 1/2;
  grid-row: 2/3;
  overflow: hidden;
}

.Sub .Sub_img:nth-of-type(2) img {
  width: 100%;
}

.Sub .Sub_text {
  grid-column: 3/4;
  grid-row: 2/4;
}

.Sub .Sub_text>span {
  display: block;
  color: var(--text-color-light);
  font-size: var(--sub-title-text-size);
  margin-bottom: 5rem;
}

.Sub .Sub_text p {
  font-family: var(--sub-font );
  font-size: var(--text-size);
  line-height: 1.8em;
}

.Sub .Sub_text p span {
  color: var(--text-color-light);
}



/* 일반 pc */
@media screen and (max-width:1280px) {
  
#content {
  width: auto;
  padding: 0;
}
}

/* 테블릿 */
@media screen and (max-width:1024px) {
#content{ 
  width:auto; 
  margin:0; 
}

.Sub {
  min-height: 800px;
  padding: calc(6.25rem / 2);
  grid-template-columns: 1.5fr .3fr .5fr .5fr;
  grid-template-rows: 2fr;
}

.Sub .Sub_img:nth-of-type(1) {
  grid-column: 4/5;
  grid-row: 3/4;
  justify-self: unset;
}

.Sub .Sub_img:nth-of-type(1) img {
  height: auto;
  width: 100%;
}

.Sub .Sub_img:nth-of-type(2) {
  grid-column: 3/4;
  grid-row: 2/3;
}


.Sub .Sub_text {
  grid-column: 1/2;
  grid-row: 1/4;
}

.Sub .Sub_text>span {
  margin-bottom: calc(5rem/2);
}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {

}

/* 모바일 */
@media screen and (max-width:640px) {

.Sub {
  padding: 1rem;
  grid-template-rows: max-content;
  grid-template-columns: none;
}

.Sub .Sub_img:nth-of-type(1) {
  display: none;
}

.Sub .Sub_img:nth-of-type(2) {
  grid-column: 4/5;
  grid-row: 1/2;
}

.Sub .Sub_text {
  grid-column: 1/5;
  grid-row: 2/3;
}
  
}