/* 와이드 pc  */

#imgBG {
  display: block;
  left: 50%;
  right: inherit;
  transform: translateX(-50%);
}

#content h2 {
  position: absolute;
  text-align: center;
  top: -60vh;
  left: 0;
  width: 100%;
  color: var(--point-color);
  font-size: 10vh;
  text-shadow: 6px 4px #000;
}

#content {
  position: relative;
  background: var(--back-color);
  color: var(--text-color);
}

.intro {
  padding: 9.38rem;
  font-size: var(--text-size);
  color: var(--point-color);
  text-align: center;
  font-style: italic;
  letter-spacing: 3px;
}

.intro p span {
  display: block;
  margin-top: 3vw;
}

.Main {
  display: grid;
  grid-template-rows: .1fr 1fr;
}

.Main a {
  width: 80%;
  grid-column: 2/2;
  grid-row: 2/2;
  position: relative;
  justify-self: flex-end;
}

.Main a img {
  width: 100%;
}

.Main dl {
  width: 40vw;
  height: 25vw;
  padding: 5vw 8vw 0vw 3vw;
  box-sizing: border-box;
  margin-left: 5vw;
  grid-column: 1/3;
  grid-row: 1/3;
  background: var(--text-color-light);
}

.Main dl dt {
  font-size: 3vw;
  color: var(--point-color);
  font-style: italic;
  margin-bottom: 2vw;
}

.Main dl dd {
  font-family: var(--sub-font);
  font-size: 1.2vw;
  color: var(--text-color);
}



/* 일반 pc */
@media screen and (max-width:1280px) {
  
  #content {
    width: auto;
  }
  
}

/* 테블릿 */
@media screen and (max-width:1024px) {

}

/* 소형 테블릿 */
@media screen and (max-width:768px) {

}

/* 모바일 */
@media screen and (max-width:640px){
  
}